.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--modal-z-index);
}

.spiner {
    width: 32px;
    height: 32px;
    border: 2px solid transparent;
    border-top-color: var(--button-yellow);
    border-left-color: var(--button-yellow);
    display: inline-block;
    animation: islands-spin2 1s linear 0.21s infinite;
    backface-visibility: hidden;
    border-radius: 50%;
}

@keyframes islands-spin2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes islands-spin2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}
