.drawer {
    position: fixed;
    inset: 0;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: translateY(0%);
    }
}

.sheet {
    z-index: 100;
    position: fixed;
    height: calc(100vh + 100px);
    width: 100%;
    border-radius: 16px 16px 0 0;
    touch-action: none;
    padding-bottom: 10px;
    padding-top: 10px;
    background: white;
}
