.emptyPage {
    min-height: calc(100vh - 180px);
}

.noFiles {
    word-wrap: break-word;
    word-break: break-word;
    margin: 56px auto 32px;
}

.infoWraper {
    max-width: 400px;
}

.upload {
    max-width: 150px;
}
