.contentLayout {
    margin-bottom: 28px;
    min-height: calc(100vh - var(--navbar-height) - 28px);
    border-radius: var(--border-radius);
    padding-top: 0;
    margin-left: 20px;
    margin-right: calc(20px - 100vw + 100%);
    box-shadow: var(--shadow-color);
}

.sidebar {
    width: 272px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background: var(--side-bar-color);
    position: relative;
    flex-shrink: 0;
}

.content {
    background: var(--light-bg);
    flex-grow: 1;
    max-width: 100%;
    padding: 8px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
