.button {
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        &.yellow {
            background-color: var(--button-yellow-accent);
        }

        &.white {
            background-color: #f5f5f5;
        }
    }
}

.normalText {
    color: var(--text);
}

.whiteText {
    color: white;
}

.addonLeft,
.addonRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.withAddon {
    padding: 8px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline-color: transparent;

    &:hover {
        background: none;
    }
}

.filled {
    border: none;
    outline: none;
    border-radius: 19px;

    &.normal {
        background: var(--input-bg);
    }

    &.save {
        background: var(--save);
    }

    &.accent {
        background: var(--accent);
    }

    &.cancel {
        background: var(--cancel);
    }

    &.yellow {
        background-color: var(--button-yellow);
        transition: background-color 0.15s linear;
    }

    &.white {
        background-color: white;
        transition: background-color 0.15s linear;
    }

    &.transaprent {
        background-color: transparent;
    }
}

.outline {
    background: none;
    border-radius: 16px;

    &:hover {
        border: 1px solid var(--accent);
    }

    &.normal {
        border: 1px solid var(--icon);
    }

    &.save {
        border: 1px solid var(--save);
    }

    &.cancel {
        border: 1px solid var(--cancel);
    }

    &.accent {
        border: 1px solid var(--accent);
    }
}

.yellow {
    &.shadow {
        box-shadow: var(--shadow-color-yellow);
    }
}

.white {
    &.shadow {
        box-shadow: var(--shadow-color-black);
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.s {
    font: var(--font-s);
    padding: 5px 10px;
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;

    &:hover {
        color: var(--text);

        .addonLeft svg,
        .addonRight svg {
            color: var(--hint);
        }
    }
}

.fullWidth {
    width: 100%;
}

.round {
    border-radius: 34px;
}

.loading {
    background-image: repeating-linear-gradient(
        -45deg,
        var(--button-yellow),
        var(--button-yellow) 4px,
        var(--button-yellow-accent) 0,
        var(--button-yellow-accent) 8px
    );
    background-size: 34px 34px;
    animation-name: button-view-action-progress;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes button-view-action-progress {
    0% {
        background-position: -12px 0;
    }

    100% {
        background-position: 0 0;
    }
}
