.loginForm {
    display: flex;
    flex-direction: column;
    width: 360px;
}

@media (width <= 768px) {
    .loginForm {
        max-width: 360px;
        width: 100%;
    }
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin: 15px 0;
}
