.fileToolBar {
    height: 60px;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 50;
    position: fixed;
    top: 0;
    width: auto;
    left: 20px;
    right: calc(20px - 100vw + 100%);
    border-radius: 0 0 12px 12px;
    background-color: #222;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
}

.opened {
    opacity: 1;
}

.close {
    margin-right: 10px;
    height: 36px;
    width: 36px;
}

.icon {
    color: rgb(255 255 255 / 80.9%);
}

.toolButtons {
    color: rgb(255 255 255 / 80.9%);

    &:hover {
        color: white;
    }
}

.fileName {
    padding: 20px;
}

.fileIcon {
    bottom: 2px;
    position: relative;
}
