:root {
    --bg-color: #ebf0ff;
    --light-bg: #ffffff;
    --input-bg: #f0f4ff;
    --dark-bg: #fff;
    --accent: #00b4ff;
    --text-grey: #999;
    --text: #141c1f;
    --hint: #adbcc0;
    --grey: #d9d9d9;
    --cancel: #f77;
    --save: #62de85;
    --icon: #8e8f99;
    --selected: #e0e0e0;

    --button-yellow: #ffdc60;
    --button-yellow-accent: #ffd21f;
}
