:root {
    --bg-color: #ebf0ff;
    --light-bg: #ffffff;
    --input-bg: #f0f4ff;
    --dark-bg: #fff;
    --accent: #00b4ff;
    --text-grey: #999;
    --text: #141c1f;
    --hint: #adbcc0;
    --grey: #d9d9d9;
    --cancel: #f77;
    --save: #62de85;
    --icon: #8e8f99;
    --selected: #e0e0e0;
    --message-box: #222426;
    --shadow-color-yellow: 0 8px 14px rgba(255, 204, 0, 0.25);
    --shadow-color-black: 0 8px 14px rgba(34, 34, 34, 0.05);
    --shadow-color-big: 0px 0px 2px hsla(0, 0%, 60%, 0.1),
        0px 8px 28px hsla(0, 0%, 60%, 0.3);

    --button-yellow: #ffdc60;
    --button-yellow-accent: #ffd21f;
}
