.popup {
    position: relative;
    height: 36px;
}
.menu {
    border: 1px solid #0000000d;
    overflow: hidden;
}
.top_right {
    bottom: 100%;
}

.top_left {
    bottom: 100%;
    right: 0;
}

.bottom_right {
    top: 110%;
}

.bottom_left {
    top: 110%;
    right: 0;
}
.disabled {
    opacity: 0.7;
}
.active {
    background: var(--input-bg) !important;
}

.options {
    background: var(--dark-bg);
    position: absolute;
    z-index: 1000000;
    border-radius: 12px;
    font-weight: 400;

    box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.3);
    min-width: 236px;
}

.item {
    padding: 10px 15px;
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.selected {
    background: var(--light-bg);
}
.label {
    text-transform: capitalize;
    padding-right: 5px;
}
.listButton {
    font-weight: 600 !important;
    text-transform: lowercase;
}
.iconWrapperLeft {
    width: 16px;
    margin-right: 16px;
}
.iconWrapperRight {
    width: 16px;
    margin-left: auto;
}
.optionsIcon {
    margin-right: 10px;
    display: flex;
}
.icon {
    padding-left: 10px;
    align-items: center;
    display: flex;
}
