.newDirForm {
    width: 380px;
    height: 186px;
}
.close {
    position: absolute;
    right: 14px;
    top: 14px;
    margin: 8px;
}
.error {
    height: 40px;
}
.input {
    padding-top: 24px;
}
.title {
    margin-bottom: 16px;
}
