.fileListItem {
    border-radius: 8px;
    padding: 6px 16px;
    flex-shrink: 0;
    color: var(--icon);

    &:hover {
        background: var(--input-bg);
    }
}

.iconFolder {
    flex-shrink: 0;
}

.listInfo {
    flex-grow: 1;
}

.title,
.info {
    white-space: nowrap;
    width: 100%;
    user-select: none;
    max-width: 350px;
}

@media (width <= 980px) {
    .title {
        max-width: 259px;
        padding-right: 15px;
    }
}

.shareLink {
    flex-shrink: 0;

    .icon {
        color: #222426;
    }
}

.selected {
    background-color: var(--selected);
}

@media (width <= 980px) {
    .infoBlock {
        display: none;
    }
}
